{% include 'theme/inc/header.html' %}
            <!-- home section -->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-7 d-flex d-md-flex d-lg-block justify-content-center">
                    <div class="home_title_container text-center text-md-center text-lg-start">
                        <h1 class="home_header inter_font">Streamline Your Recruitment Workflows with Our User-Friendly Platform</h1>
                        <p class="home_desc inter_font py-3">
                            Maximize your Recruiting impact with our customizable platform and personalize support, designed to help you succeed in your role.
                        </p>
                        <a href="#!" class="home_btn py-3">Get Started <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-5 justify-content-center ">
                    <div class="home_img_container d-flex">
                        <img class="d-block m-auto m-md-auto ms-lg-auto home_img" src="statc/img/home/home-img.png' %}">
                    </div>
                </div>
            </div>

        </div>


    </section>

    <!-- brands section ================================-->
    <section class="border">
        <div class="container">
            <div class="justify-content-center brand_item_container">
                <div class="brand_title manrope_font mx-3 my-2">Our customers hire for:</div>
                <div class="mx-4 my-2"><a href="#!"><img src="{% static 'img/brands/google.png' %}" alt="google icon"></a> </div>
                <div class="mx-4 my-2"><a href="#!"><img src="{% static 'img/brands/meta.png' %}" alt="meta icon"></a></div>
                <div class="mx-4 my-2"><a href="#!"><img src="{% static 'img/brands/microsoft.png' %}" alt="microsoft icon"></a>
                </div>
                <div class="mx-4 my-2"><a href="#!"><img src="{% static 'img/brands/amazon.png' %}" alt="amazon icon"></a></div>
                <div class="mx-4 my-2"><a href="#!"><img src="{% static 'img/brands/airbnb.png' %}" alt="airbnb icon"></a></div>
            </div>
        </div>

    </section>

    <!-- service section ================================-->
    <section class="service" id="solutions">
        <div class="container">

            <div class="title_desc_container pt-5">
                <h1 class="section_title text-center manrope_font">What we do</h1>
                <div class="section_desc_container justify-content-center d-flex">
                    <p class="section_desc text-center inter_font py-2">
                        We are revolutionizing recruitment, one AI match at a time. Empower Your HR team with the tools,
                        resources, and support they need to drive business success and create a more efficient and
                        effective workplace.
                    </p>
                </div>
            </div>

            <!-- services-->
            <div class="row p-0 p-md-0 p-lg-5">

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card d-block" href="candidate_summary.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/pathtool.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Resume Editor tool</h4>
                        <p class="service_card_desc inter_font">
                            a cutting-edge feature designed to help external recruiters enhance and refine candidate
                            resumes before presenting them to clients
                        </p>
                    </a>

                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card d-block" href="technical_question.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/pen-tool-2.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Ask Technical Industry Questions</h4>
                        <p class="service_card_desc inter_font">
                            Streamline your hiring process by asking our AI technical questions about your specific
                            niche
                        </p>
                    </a>

                </div>



                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card d-block" href="candidate_summary.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/message-programming.png' %}" class="d-block"
                                    alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Candidate Summary Generator </h4>
                        <p class="service_card_desc inter_font">
                            A cutting-edge tool designed to help external recruiters enhance and refine candidate
                            resumes before presenting them to clients.
                        </p>
                    </a>

                </div>

                <!-- texhnical question -->
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card service_card d-block" href="technical_question.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/Marketer.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Technical Interview Questions Generator</h4>
                        <p class="service_card_desc inter_font">
                            Develop technical questions to for candidate screenings or interview preparation
                        </p>
                    </a>

                </div>

                <!-- bollean-->
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card service_card d-block" href="bollean_search.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/messagesearch.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Boolean String Generator</h4>
                        <p class="service_card_desc inter_font">
                            Develop strategic Boolean search strings targeted to your targeted search 
                        </p>
                    </a>

                </div>

                <!-- job description -->
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card service_card d-block" href="job_description.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/Group.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Job Description Generator</h4>
                        <p class="service_card_desc inter_font">
                            Create a job description for a specific job posting in seconds 
                        </p>
                    </a>

                </div>

                <!-- email templates -->
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card service_card d-block" href="email_template.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/people.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Email templates</h4>
                        <p class="service_card_desc inter_font">
                            Generate email templates for sales, holidays, responses, and any candidate outreach in seconds
                        </p>
                    </a>

                </div>

                <!-- Job Description Analysis Tool -->
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card service_card d-block" href="breack_down.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/briefcase.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">Job Description Analysis Tool</h4>
                        <p class="service_card_desc inter_font">
                            Break down job specifications using Natural Language Processing to understand the requirement of the job descriptions
                        </p>
                    </a>

                </div>

                <!-- AI Resume screening & Reverse Searching -->
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card service_card d-block" href="candidate_summary.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/Group.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">AI Resume screening & Reverse Searching</h4>
                        <p class="service_card_desc inter_font">
                            Upload your job description and upload your applications, and our AI will screen for the best matches
                        </p>
                    </a>

                </div>

                <!-- ai avatar video generator -->
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <a class="service_card service_card d-block" href="create_video.html">
                        <div class="service_card_icon_container d-flex pb-3">
                            <div class="service_icon">
                                <img src="{% static 'img/service-icon/Group.png' %}" class="d-block" alt="service icon">
                            </div>
                        </div>
                        <h4 class="service_card_title inter_font pb-3">AI Avatar Video Generator</h4>
                        <p class="service_card_desc inter_font">
                            Designed to revolutionize the way you create and share videos for presentations, sales, and marketing
                        </p>
                    </a>

                </div>

            </div>

        </div>
    </section>

    <!-- why choose us section ================================-->
    <section class="about py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5 about_left_containet d-lg-block d-md-flex d-flex justify-content-center">
                    <img src="{% static 'img/about/about-group-img.png' %}" alt="about iamge" class="about_image d-block">
                </div>

                <div class="col-12 col-md-12 col-lg-7 about_right_containet ">
                    <h5 class="manrope_font about_heading py-2 mt-5 mt-md-5 mt-lg-0">Why choose us?</h5>
                    <p class="about_desc inter_font py-2">
                        HR potential with our comprehensive platform, featuring cutting-edge tools and resources to enhance your performance
                    </p>

                    <div class="py-3">

                        <!--100% Quality-->
                        <div class="about_item_container my-2">
                            <div class="anout_item d-flex">
                                <div class="about_item_icon_container">
                                    <img src="{% static 'img/about/like.png' %}" class="d-block about_icon" alt="about icon">
                                </div>
                                <div class="about_item_desc_container mt-2 mt-md-0 mt-lg-0 px-2 px-md-3 px-lg-3">
                                    <h4 class="about_item_heading manrope_font">Improve Efficiency </h4>
                                    <p class="about_item_desc">
                                        <label class="about_item_label inter_font">
                                            AI can quickly and accurately analyze job requirements and candidate resumes, effort
                                        </label>
                                        <label class="about_item_label inter_font">required for manual review, summaries, and evaluation.</label>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--Interview guarantee to Cost Savings-->
                        <div class="about_item_container my-2">
                            <div class="anout_item">
                                <div class="about_item_icon_container">
                                    <img src="{% static 'img/about/like.png' %}" class="d-block about_icon" alt="about icon">
                                </div>
                                <div class="about_item_desc_container mt-2 mt-md-0 mt-lg-0 px-1 px-md-3 px-lg-3">
                                    <h4 class="about_item_heading manrope_font">Cost Savings</h4>
                                    <p class="about_item_desc">
                                        <label class="about_item_label inter_font">
                                            AI can reduce the cost of recruitment by streamlining the process, reducing the
                                        </label>
                                        <label class="about_item_label inter_font">need for manual searching, and minimizing the risk of hiring mistakes.</label>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <!-- We have 15k+ users -->
                        <div class="about_item_container my-2">
                            <div class="anout_item">
                                <div class="about_item_icon_container">
                                    <img src="{% static 'img/about/like.png' %}" class="d-block about_icon" alt="about icon">
                                </div>
                                <div class="about_item_desc_container mt-2 mt-md-0 mt-lg-0 px-2 px-md-3 px-lg-3">
                                    <h4 class="about_item_heading manrope_font">We have 15k+ users</h4>
                                    <p class="about_item_desc">
                                        <label class="about_item_label inter_font">
                                            Proven AI helping thousands of internal and external recruiters
                                        </label>
                                        <!-- <label class="about_item_label inter_font">AI can quickly and accurately analyse job requirements</label> -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    

                   <div class="mt-5">
                        <a href="#!" class="about_btn inter_font mt-3">Get Started</a>
                   </div> 
                </div>
            </div>
        </div>
    </section>

    <!-- ai work video section ================================-->
    <section class="ai_work pb-5" id="about">
        <div class="container">
            <!-- <div class="title_desc_container pt-5">
                <h1 class="section_title text-center manrope_font">How the Pure Talent AI Work</h1>
                <div class="section_desc_container justify-content-center d-flex">
                    <p class="section_desc text-center inter_font py-2">
                        No more job posts, vetting candidates or dealing with the constant hiring challenges, Instead, we take care of it all and guarantee a perfect talent match in 7 -10 days.
                    </p>
                </div>
            </div> -->

            <!-- video section -->
            <!-- <div class="ai_video_container">
                
                <div class="video_play_button_container d-none d-md-none d-lg-block">
                    <button class="click btn"><img src="{% static 'video/ai_video_section/video-circle.png' %}" alt="video play icon"> </button>
                </div>
                <div class="d-flex justify-content-center">
                    <video id="myVideo" class="video">
                        <source src="statc/video/ai_video_section/demo-video.mp4" type="video/mp4">
                    </video>
                </div>

            </div> -->
        </div>
    </section>

    <!-- Recruiting tools section ================================-->
    <section class="interview py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 interview_question_left_container">
                    <div>
                        <h5 class="interview_question_title manrope_font py-2">Recruiting tools</h5>
                        <p class="interview_desc inter_font py-2">
                            Our advanced algorithms generate Candidate summaries, Technical Interview Questions, Job descriptions, email templates, and assist and editing resumes. 
                        </p>
                        <a href="#! " class="btn inter_view_question_btn inter_font my-2 d-inline">Get Started <i
                                class="fal fa-arrow-right"></i></a>
                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-6 interview_question_right_container">
                    <img src="{% static 'img/interviewQuestion.png' %}" class="interview_question" alt="interview question">
                </div>
            </div>
        </div>
    </section>

    <!-- Resume Match Making section ================================-->
    <section class="bollean_search">
        <div class="container">

            <div class="row">
                <div class="bollean_search_left_container col-12 col-md-12 col-lg-6">
                    <img src="{% static 'img/bollean-search.png' %}" class="bollean_search_img" alt="interview question">

                </div>

                <div class=" bollean_search_right_container col-12 col-md-12 col-lg-6 ps-3 ps-md-0 ps-lg-5">
                    <div class="">
                        <h5 class="bollean_search_title manrope_font">Resume Match Making</h5>
                        <p class="bollean_search_desc inter_font">
                            Our AI technology analyzes the resumes key skills, and experience to match the job description, allowing recruiters to quickly asses candidate suitability
                        </p>
                        <a href="#!" class="bollean_btn btn">Get Started <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- Avatar Video Creation section ================================-->
    <section class="interview py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 interview_question_left_container">
                    <div>
                        <h5 class="interview_question_title manrope_font py-2">Avatar Video Creation</h5>
                        <p class="interview_desc inter_font py-2">
                            Our AI-powered Avatar video generator creates personalized video for sales, presentations, and marketing your brand
                        </p>
                        <a href="create_video.html" class="btn inter_view_question_btn inter_font my-2 d-inline">Get Started <i
                                class="fal fa-arrow-right"></i></a>
                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-6 interview_question_right_container">
                    <img src="{% static 'img/key-aearch.png' %}" class="interview_question" alt="interview question">
                </div>
            </div>
        </div>
    </section>

    <!-- see more ================================-->
    <section class="see_more py-5 d-flex justify-content-center">
        <a href="service_initial.html" class="see_more_btn inter_font">See More Services</a>
    </section>

    <!-- testimonial ================================-->
    <section class="testimonial">
        <div class="container">
            <div class="faq_section_container pt-5">
                <h1 class="faq_section_title text-center inter_font">What Our Customers Say</h1>
            </div>


            <!-- slider -->
            <div class="slider_container px-5 py-3">
                <div class="swiper mySwiper">


                    <div class="swiper-wrapper">


                        <!-- slider 1-->
                        <div class="swiper-slide">

                            <div class="testimonial_slider_desc py-5">
                                <p class="testimonial_desc inter_font">
                                    <img src="{% static 'img/testimonial/quote-up.png' %}" class="d-inline qout_up"style="width:24px;height:24px;" alt="quote up">
                                    We were looking for a platform that was essentially a CRM for influencer management
                                    that also allowed us to aggregate our campaign analytics and access the insights we
                                    need to properly evaluate influencers.
                                <div class="text-center">
                                    <img src="{% static 'img/testimonial/quote-down.png' %}"
                                        class="d-none d-md-none d-lg-inline qout_down" style="width:24px;height:24px;"
                                        alt="quote down">
                                </div>
                                </p>
                                <div class="author_container d-flex justify-content-center">
                                    <img class="testimonial_author_img d-block" style="width:55px; height: 55px;"
                                        alt="testimonial_author" src="statc/img/testimonial/testimonial_author1.png' %}">
                                </div>
                                <h4 class="testimonial_author_name text-center inter_font pt-3">Josh Noraan</h4>
                                <p class="testimonial_author_title inter_font">Project Manager</p>
                            </div>

                        </div>


                       <!-- slider 2-->
                       <div class="swiper-slide">

                        <div class="testimonial_slider_desc py-5">
                            <p class="testimonial_desc inter_font">
                                <img src="{% static 'img/testimonial/quote-up.png' %}" class="d-inline qout_up"
                                    style="width:24px;height:24px;" alt="quote up">
                                We were looking for a platform that was essentially a CRM for influencer management
                                that also allowed us to aggregate our campaign analytics and access the insights we
                                need to properly evaluate influencers.
                            <div class="text-center">
                                <img src="{% static 'img/testimonial/quote-down.png' %}"
                                    class="d-none d-md-none d-lg-inline qout_down" style="width:24px;height:24px;"
                                    alt="quote down">
                            </div>
                            </p>
                            <div class="author_container d-flex justify-content-center">
                                <img class="testimonial_author_img d-block" style="width:55px; height: 55px;"
                                    alt="testimonial_author" src="statc/img/testimonial/testimonial_author1.png' %}">
                            </div>
                            <h4 class="testimonial_author_name text-center inter_font pt-3">Josh Noraan</h4>
                            <p class="testimonial_author_title inter_font">Project Manager</p>
                        </div>

                    </div>
                    </div>


                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- faq section ================================-->
    <section class="faq">
        <div class="container">
            <div class="faq_section_container pt-5">
                <h1 class="faq_section_title text-center inter_font">Frequently Asked Questions</h1>
            </div>


            <div class="py-4">
                <div class="container faq_container my-2  py-2">
                    <div class="accordion faq_border" id="faqAccordion">
                        <div class="accordion-item py-2">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="text-start btn d-block oke collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="d-flex">
                                        <div class="me-auto inter_font faq_question_text">Is there a free trial
                                            available?</div>
                                        <div class="ms-auto"><img src="{% static 'img/plus.png' %}" alt="plus icon"></div>
                                    </div>

                                </button>
                            </h3>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body inter_font">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container faq_container my-2  py-2">
                    <div class="accordion faq_border" id="faqAccordion">
                        <div class="accordion-item py-2">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="text-start btn d-block oke collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="d-flex">
                                        <div class="me-auto inter_font faq_question_text">Can I change my plan later?
                                        </div>
                                        <div class="ms-auto"><img src="{% static 'img/plus.png' %}" alt="plus icon"></div>
                                    </div>

                                </button>
                            </h3>
                            <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body inter_font">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container faq_container my-2 py-2">
                    <div class="accordion faq_border" id="faqAccordion">
                        <div class="accordion-item py-2">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="text-start btn d-block oke collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false"
                                    aria-controls="collapseOne2">
                                    <div class="d-flex">
                                        <div class="me-auto inter_font faq_question_text">What is your cancellation
                                            policy?</div>
                                        <div class="ms-auto"><img src="{% static 'img/plus.png' %}" alt="plus icon"></div>
                                    </div>

                                </button>
                            </h3>
                            <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne2"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body inter_font">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container faq_container my-2 py-2">
                    <div class="accordion faq_border" id="faqAccordion">
                        <div class="accordion-item py-2">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="text-start btn d-block oke collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="d-flex">
                                        <div class="me-auto inter_font faq_question_text">Can other info be added to an
                                            invoice?</div>
                                        <div class="ms-auto"><img src="{% static 'img/plus.png' %}" alt="plus icon"></div>
                                    </div>

                                </button>
                            </h3>
                            <div id="collapseOne3" class="accordion-collapse collapse" aria-labelledby="headingOne2"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body inter_font">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container faq_container my-2 py-2">
                    <div class="accordion faq_border" id="faqAccordion">
                        <div class="accordion-item py-2">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="text-start btn d-block oke collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="d-flex">
                                        <div class="me-auto inter_font faq_question_text">How does billing work?</div>
                                        <div class="ms-auto"><img src="{% static 'img/plus.png' %}" alt="plus icon"></div>
                                    </div>

                                </button>
                            </h3>
                            <div id="collapseOne5" class="accordion-collapse collapse" aria-labelledby="headingOne2"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body inter_font">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container faq_container my-2 py-2">
                    <div class="accordion faq_border" id="faqAccordion">
                        <div class="accordion-item py-2">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="text-start btn d-block oke collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne6" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="d-flex">
                                        <div class="me-auto inter_font faq_question_text">How do I change my account
                                            email?</div>
                                        <div class="ms-auto"><img src="{% static 'img/plus.png' %}" alt="plus icon"></div>
                                    </div>

                                </button>
                            </h3>
                            <div id="collapseOne6" class="accordion-collapse collapse" aria-labelledby="headingOne6"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body inter_font">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>



    </section>
{% include 'theme/inc/footer.html' %}