{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- slider cdn -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script src="{% static 'js/login.js' %}"></script>
<!-- nav js -->
<script src="{% static 'js/nav.js' %}"></script>

<!-- nav js -->
<script src="{% static 'js/testimonial_slider.js' %}"></script>

<!-- ai video section js -->
<script src="{% static 'js/ai_video_section.js' %}"></script>

<!-- service js -->
<script src="{% static 'js/service.js' %}"></script>

<!-- login -->
<script src="{% static 'js/login.js' %}"></script>